/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  /* justify-content: flex-start; /* Alineamos los elementos al comienzo de la pantalla */
  /* align-items: flex-start; Alineamos los elementos en la parte superior */
  /* flex-wrap: wrap; Agregamos flex-wrap para que los elementos se ajusten en varias líneas si es necesario */
  /* flex-direction: column; */
  height: 100vh;
  width: 100vw;
}

/* .container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
} */

/* Estilos para la información principal */
.infoColumn {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* Ajustamos el ancho para dejar espacio para los pasos */
  /* max-width: 800px; */
  /* margin: 20px; */
  height: 100vw;
}

.dietitas {
  align-items: center;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}


.healthScore {
  margin-right: 25px;
}

.dietitas>h4 {
  background: #f9f9f9;
  padding: 5px;
  border-radius: 8px;
  margin-top: 5px;
}

/* Estilos para el título principal */
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

/* Estilos para la imagen */
img {
  width: 40%;
  /* Reducimos el ancho de la imagen para dejar espacio para los pasos */
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
  /* Agregamos margen derecho para separar de los pasos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

/* Estilos para el subtítulo */
h3 {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

/* Estilos para el contenido del artículo */
article {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* Estilos para los pasos de la receta */
.stepsContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40vw;
  margin-top: 10px;
}

.step {
  background: #f2f2f2;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  width: 36vw;
}

/* Estilos para el número de paso */
.stepNumber {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

/* Estilos para el contenido de los pasos */
.stepContent {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
  margin-left: 10px;
  /* Agregamos margen izquierdo para separar de la imagen */
}